  {% extends "layout.html" %}
{% block content %}
<div class="container py-5">
  <h1 class="text-center">Nuestros Productos</h1>
  <div class="row row-cols-1 row-cols-md-3 g-4 py-5 mx-2">

      <div class="col">
          <div class="card">
              <img src="/static/js.png" class="card-img-top" alt="...">
              <div class="card-body">
                  <h5 class="card-title mt-3 ">Nombre Producto</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam
                      dignissimos accusantium amet similique velit iste.</p>
              </div>
              <div class="mb-5 d-flex justify-content-around">
                  <h3 class="py-2 text-primary">$190.00</h3>
                  <a href="#" class="btn py-1"><i class='bx bxs-cart-add bx-md' ></i></a>
                  <a href="#" class="btn btn-primary py-3">Ver detalles</a>
              </div>
          </div>
      </div>

      <div class="col">
        <div class="card">
            <img src="/static/js.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title mt-3 ">Nombre Producto</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam
                    dignissimos accusantium amet similique velit iste.</p>
            </div>
            <div class="mb-5 d-flex justify-content-around">
                <h3 class="py-2 text-primary">$190.00</h3>
                <a href="#" class="btn py-1"><i class='bx bxs-cart-add bx-md' ></i></a>
                <a href="#" class="btn btn-primary py-3">Ver detalles</a>
            </div>
        </div>
    </div>

    <div class="col">
      <div class="card">
          <img src="/static/js.png" class="card-img-top" alt="...">
          <div class="card-body">
              <h5 class="card-title mt-3 ">Nombre Producto</h5>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam
                  dignissimos accusantium amet similique velit iste.</p>
          </div>
          <div class="mb-5 d-flex justify-content-around">
              <h3 class="py-2 text-primary">$190.00</h3>
              <a href="#" class="btn py-1"><i class='bx bxs-cart-add bx-md' ></i></a>
              <a href="#" class="btn btn-primary py-3">Ver detalles</a>
          </div>
      </div>
  </div>

  </div>
</div>
{% endblock content %}
