{% extends "layout.html" %} {% block content %}

<form action="/login" method="post">
  <div>
    <label for="email" class="form-label">Ingrese su correo electronico</label>
    <input
      type="email"
      name="Correo"
      id="Correo"
      placeholder="Correo Electronico"
    />
  </div>
  <div>
    <label for="password" class="form-label">Ingrese su contraseña</label>
    <input
      type="password"
      name="contraseña1"
      id="contraseña1"
      placeholder="Contraseña"
    />
  </div>

  <button type="submit" name="confirmar" id="confirmar">confirmar</button>
</form>

{% endblock content %}
