{% extends "layout.html" %}
{% block content %}
    
    <br><br><br>
    
    <center>
        <div style="max-width: 400px;">
            <form action="{{ url_for('editPrdctBD', idPrd=datosPrd[0][0]) }}" method="post" enctype="multipart/form-data">
                <input type="text" name="nombre" class="form-control" placeholder="Nombre..." value="{{ datosPrd[0][1] }}" required><br>
                <input type="text" name="descrip" class="form-control" placeholder="Descripción..." value="{{ datosPrd[0][2] }}" required><br>
                <input type="text" name="categoria" class="form-control" placeholder="Categoría..." value="{{ datosPrd[0][3] }}" required><br>
                <input type="text" name="propied" class="form-control" placeholder="Propiedades" value="{{ datosPrd[0][4] }}" required><br>
                <img src="data:{{ datosPrd[0][6] }};base64,{{ datosPrd[0][5] }}" alt="Imagen" style="width: 180px; height: auto;"><br>
                <input type="file" name="imagen" class="form-control-file" required><br>
                <input type="number" name="costo" class="form-control" placeholder="Precio..." min="0" value="{{ datosPrd[0][7] }}" required><br>
                <input type="number" name="stock" class="form-control" placeholder="Cantidad disponible" min="1" value="{{ datosPrd[0][8] }}" required><br>
                <input type="submit" class="btn btn-primary" value="Aceptar">
            </form>
        </div>
    </center>
{% endblock %}