{% extends "layout.html" %} {% block content %}

<div class="container py-5">
  <h1 class="fs-1 text-left ps-2 pb-4 border-bottom border-5">Productos</h1>
  <div class="row row-cols-1 row-cols-md-3 g-4 py-5 mx-2" id="productContainer">
    {% for producto in productos %}
    <div class="col category-card {{ producto.categorias }}">
      <div class="card">
        <img src="data:image/png;base64,{{ producto.imagen}}" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="h2 card-title mt-2">{{ producto.nombre }}</h5>
          <p class="card-text">
            {{ producto.descripcion }}
            <br><br>
          </p>
        </div>
        <div class="mb-2 d-flex justify-content-around">
          <h3 class="price py-2">${{ producto.costo }}</h3>
        </div>
        <a href="" class="w-100 details btn py-3">Ver detalles</a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock content %}
